In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/raw/mobile-prices.zip")

In [6]:
df.sample(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
245,1373,1,1.0,1,2,0,50,0.2,127,7,...,105,673,3800,8,3,14,1,0,0,3
810,691,1,2.7,1,4,1,33,0.9,108,4,...,951,962,424,5,3,15,1,1,1,0
1613,1676,0,1.6,0,2,0,37,0.2,145,1,...,134,1197,2515,14,8,4,1,0,1,2
1650,1948,0,2.9,1,4,0,5,0.2,136,1,...,651,700,361,6,1,10,0,1,0,0
174,534,0,0.5,1,0,1,16,1.0,189,5,...,393,1199,3926,16,12,20,1,0,0,3
1697,1152,1,2.1,1,0,1,26,0.3,82,2,...,1304,1673,3284,15,2,8,1,0,1,3
1178,909,1,0.5,1,9,0,30,0.4,97,3,...,290,773,594,12,0,4,1,1,1,0
154,1547,0,2.9,1,6,0,45,0.7,166,2,...,583,590,505,12,2,3,0,1,1,0
162,1296,0,0.9,1,0,1,14,0.5,124,5,...,811,1272,490,7,1,4,1,1,1,0
740,1004,1,2.9,1,0,0,35,0.2,141,6,...,901,1162,3772,17,8,18,0,1,1,3

Variables are:
- `battery_power`, Total energy a battery can store in one time measured in mAh
- `blue`, Has bluetooth or not
- `clock_speed`, speed at which microprocessor executes instructions 
- `dual_sim`, Has dual sim support or not
- `fc`, Front Camera mega pixels
- `four_g`, Has 4G or not
- `int_memory`, Internal Memory in Gigabytes
- `m_dep`, Mobile Depth in cm 
- `mobile_wt`, Weight of mobile phone
- `n_cores`, Number of cores of processor 
- `pc`, Primary Camera mega pixels
- `px_height`, Pixel Resolution Height
- `px_width`, Pixel Resolution Width
- `ram`, Random Access Memory in Mega Bytes
- `sc_h`, Screen Height of mobile in cm
- `sc_w`, Screen Width of mobile in cm
- `talk_time`, longest time that a single battery charge will last when you are 
- `three_g`, Has 3G or not
- `touch_screen`, Has touch screen or not 
- `wifi`, Has wifi or not 
- `price_range`, This is the target variable with value of 0(low cost), 1(medium cost), 2(high cost) and 3(very high cost).

We will extract only the numerical features:

In [7]:
inputs = df[['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time']]

In [9]:
inputs.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,1.522250,4.309500,32.046500,0.501750,140.249000,4.520500,9.916500,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000
std,439.418206,0.816004,4.341444,18.145715,0.288416,35.399655,2.287837,6.064315,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955
min,501.000000,0.500000,0.000000,2.000000,0.100000,80.000000,1.000000,0.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000
25%,851.750000,0.700000,1.000000,16.000000,0.200000,109.000000,3.000000,5.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000
50%,1226.000000,1.500000,3.000000,32.000000,0.500000,141.000000,4.000000,10.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000
75%,1615.250000,2.200000,7.000000,48.000000,0.800000,170.000000,7.000000,15.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000
max,1998.000000,3.000000,19.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000

In [8]:
outputs = df[['price_range']]

In [10]:
outputs.describe()

       price_range
count  2000.000000
mean      1.500000
std       1.118314
min       0.000000
25%       0.750000
50%       1.500000
75%       2.250000
max       3.000000